:root{
  --active:#F67;
}
.search_area{
  display:block;
  margin:5% 0;
  padding:3%;
  border:1px solid var( --main);
  font-size:0;
  white-space:normal;
}
.search_box{
  display:inline-block;
  width:45%;
  height:auto;
  text-align:left;
  margin:0 2.5%;
  font-size:13px;
}
@media screen and (max-width: 480px) {
.search_box{
  width:100%;
  margin:0;
  display:block;
}
}
.search_info{
  width:100%;
  margin:0 auto;
  position:relative;
}
.search_info select{
  -webkit-appearance:none;
}
.search_info input,select{
  width:100%;
  margin:8px 0;
  padding:4.5px;
  font:15px/24px sans-serif;
  color:var(--main);
  background-color:var(--sbase);
  border:1px solid var( --main);
  border-radius:4px;
  outline:none;
  transition:0.1s;
}
.price{
  width:45%;
  margin:0 2.5%;
  display:inline-block;
  font-size:0;
}
@media screen and (max-width: 480px) {
.price{
  width:100%;
  margin:0;
}
}
.price .search_box{
  margin:0;
  width:45%;
  display:inline-block;
}
.search_info>input[type=number]{
  font-size:13px;
  text-align:right;
}
.line{
  width:10%;
  height:100%;
  margin:0;
  display:inline-block;
  position:relative;
}
.line p{
  color:var( --main);
  font-size:16px;
  text-align:center;
}
.search_info input[type=text],select{
  padding-left:25px;
}
.search_info svg{
  top:16px;
  left:3px;
  position:absolute;
}
.search_info path{
  color:#BBB;
  padding:9px 8px;
  position:absolute;
  transition:0.3s;
}
.search_info input[type=text]:focus+i,select:focus+i{
  color:var(--active);
}
.search_area button{
  width:100%;
  height:100%;
  margin:20px 0 10px 0;
  padding:4.5px;
  color:var(--themebase);
  background-color:var(--thememain);
  border:solid 2px var(--thememain);
  border-radius:4px;
  text-indent:10px;
  font-size:15px;
  font-weight:bold;
  letter-spacing:10px;
  transition:0.1s;
}
.search_area button:hover{
  color:var(--thememain);
  background-color:var(--themebase);
  border:solid 2px var(--thememain);
}
.search_area button:active{
  transform:scale(0.9);
}
.s_pc_cate{
  width:20%;
}
.s_cpu{
  width:20%;
}
.s_ram{
  width:20%;
}
.s_button{
  width:20%;
}
@media screen and (max-width: 480px) {
.s_pc_cate{
  width:100%;
}
.s_cpu{
  width:100%;
}
.s_ram{
  width:100%;
}
.s_button{
  width:100%;
  text-align:center;
}
}